<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta name="description" content="Description about the project goes here">
	    <meta name="viewport" content="width=device-width">

	    <title>{% block title %}{{ title }}{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
	    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <style>
		div.container {
		    width: 100%;
		    border: 1px solid gray;
		}

		header {
		    padding: 1em;
		    color: white;
		    background-color: black;
		    clear: left;
		    text-align: center;
		}
		footer{

		    position:fixed;
		    height:100px;
		    background-color:black;
		    bottom:0px;
		    left:0px;
		    right:0px;
		    margin-bottom:0px;
		    text-align: center;
		    color: white;
		}
		#a{color:white;}
		content {
		     color:red;
		     text-align: center;
		}

		ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
	   </style>
	</head>
        <body>
		<div class="container">

		<header>
		   <h1>Hello World Page</h1>
		   <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/career">Career</a></li>
  <li><a href="/aboutus">About Us</a></li>
  <li><a href="/clients">Clients</a></li>
</ul>
		</header>
		<div class="content">
			{% block body %}{% endblock %}
			{% block javascripts %}{% endblock %}
		</div>
		<footer><a href="http://www.cuelogic.com" target="_blank">Cuelogic.co.in</a>
<div><a href="/terms">Terms And Condition</a></div>
		</footer>

		</div>
	</body>
</html>
